body{
    background-color: black;
    margin: 0px;
    padding: 5px 0px;
    border-radius: 20px;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    margin: 0px;
    padding: 0px;
}

.heading{
    color: rgb(0, 255, 157);
    margin: 0px;
    padding: 10px 0px;
    transition: all 0.2s ease;

}
.heading:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(0, 0, 0) ; 
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    border: 1px solid rgb(0, 255, 157);
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    margin: 5px 0px;
    padding: 6px 0px;
    width: 80%;
    transition: all 0.4s;
}

.btn:hover{
    cursor: pointer;
    background-color:rgb(0, 255, 157);
    border: 1px solid rgb(0, 0, 0);
    color: black;
}

.btn:active{
    background-color: rgb(0, 179, 89);
}

.dropdown{
    border: 1px solid rgb(0, 255, 157);
    font-size: 15px;
    border-radius: 6px;
    background-color: black;
    color: white;
    margin: 5px 0px;
    padding: 5px 5px;
    min-width: 70%;
    width: 80%;
    text-align: center;
}

a{
    margin: 9px 0px 7px 0px;
    text-decoration: none;
    color: rgb(0, 255, 157);
}

a:hover{
    color: rgb(0, 255, 157);
    text-shadow: 0px 0px 5px rgb(0, 255, 157) ;
}
